* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  text-align: center;
  background: #03a9f4;
}

.logo {
  color: #fff;
  font-size: 40px;
  font-family: Anton;
}
